.login{
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 80px 30px;
  border-radius: 5px;
  border: solid 1px #4498ff;
}
.login__form{
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.login__error{
  margin-bottom: 5px;
  min-height: 25px;
}
.login__field{
  width: 100%;
  text-align: left;
  display: inline-block;
  margin-bottom: 5px;
}
.login__field div{
  margin-bottom: 10px;
}
.login button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
